<h1>Index</h1>
<p>Find me in app/views/new/index.html.erb</p>

<%= "Links: " %><br>
<%= link_to('google', "http://google.com") %><br>
<%= link_to('index2', {:controller => 'new', :action => 'index2', :id => 2, :page => 5}) %>


