# Files to Ignore when pushing changes

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
log/development.log
/tmp/*
!/log/.keep
!/tmp/.keep

config/local_env.yml
config/app_env_vars.rb